.mat-toolbar {
  background-color: #b6b4b4; /* Color de fondo */
  color: #fff; /* Color del texto */
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
}

.buttons-container {
  display: flex;
}

@media screen and (max-width: 800px) {
  .buttons-container {
    display: none; // Oculta los botones cuando la pantalla es menor de 800px
  }

  .menu-button {
    display: block; // Muestra el botón hamburguesa
  }
}

@media screen and (min-width: 801px) {
  .buttons-container {
    display: flex; // Muestra los botones cuando la pantalla es mayor de 800px
  }

  .menu-button {
    display: none; // Oculta el botón hamburguesa
  }
}

.avatar {
  width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 50px; /* Ajusta el alto de la imagen según sea necesario */
  border-radius: 30%; /* Hace que la imagen tenga bordes redondeados para que se vea más estilizada */
  border: 2px solid #fff; /* Agrega un borde blanco de 2px a la imagen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil a la imagen */
}

.avatar:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen cuando se pasa el mouse sobre ella */
}

.mat-toolbar button.menu-button {
  color: #fff; /* Color del texto del botón */
  margin-right: 10px; /* Espacio entre el botón hamburguesa y los otros elementos */
}

