.mat-toolbar {
  height: 40px; /* Establece la altura deseada */
  padding: 0 10px; /* Ajusta el padding horizontal para reducir el ancho */
}

.mat-toolbar a {
  margin-right: 10px; /* Reduce el espacio entre los iconos */
}

.mat-icon {
  font-size: 24px; /* Ajusta el tamaño de los iconos */
}
