<mat-toolbar *ngIf="!isLoginPage()" class="mat-toolbar">
  <span style="margin-right: 30px;">Contactanos</span>
  <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
    <mat-icon aria-hidden="true">facebook</mat-icon>
  </a>
  <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
    <mat-icon aria-hidden="true">twitter</mat-icon>
  </a>
  <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
    <mat-icon aria-hidden="true">instagram</mat-icon>
  </a>
</mat-toolbar>
