.mat-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b6b4b4; /* Color de fondo metalizado */
  padding: 10px 0;
  text-align: center;
  color: #fff; /* Color del texto */
}