.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 10px;
  
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  width: calc(50% - 10px); /* Utiliza la mitad del ancho con espacio entre ellas */
  background-color: #ffffff52;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
}

.card img {
  width: 100%;
  height: 200px; /* Establece la altura deseada para las imágenes */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  border-radius: 10px 10px 0 0;
}


.card-content {
  padding: 15px;
}

.image-container {
  display: flex;
  gap: 20px;
}

.image-container img {
  width: calc(33.33% - 20px);
  border-radius: 10px;
}
.card form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.596); /* Fondo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:first-child {
  background-color: #07bd16; /* Azul */
  color: #fff;
}

.button-container button:last-child {
  background-color: #dc3545; /* Rojo */
  color: #fff;
}

.button-container button:hover {
  opacity: 0.8; /* Reduce la opacidad al pasar el mouse */
}

.card h3,
.card p {
  margin: 10px; /* Margen para el título y el párrafo dentro de las tarjetas */
}
/* Estilos para las imágenes pequeñas */
.small-image {
  width: 100px; /* Tamaño deseado para las imágenes */
  height: auto; /* Autoajuste de la altura */
  margin-right: 10px; /* Espacio entre las imágenes */
}

/* Estilos para las imágenes pequeñas */
.small-image {
  width: 100px; /* Tamaño deseado para las imágenes */
  height: auto; /* Autoajuste de la altura */
  margin-right: 10px; /* Espacio entre las imágenes */
}

/* Estilos para la sección de imágenes */
.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  overflow-x: auto; /* Permite hacer scroll horizontal si el contenido se desborda */
}

.image-container img {
  width: 100px; /* Tamaño deseado para las imágenes */
  height: auto; /* Autoajuste de la altura */
  border-radius: 10px;
}

.node {
  padding-bottom: 100px;
}
.container {
  border: 1px solid #ccc; /* Estilo del borde */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espaciado interno */
}

.sectionfirst {
  text-align: center; /* Centra el contenido horizontalmente */
}

.section-button-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin-top: 20px; /* Espacio superior para separar del contenido anterior */
}

.custom-button {
  padding: 10px 20px; /* Espaciado interno */
  background-color: #ee080875; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.custom-button:hover {
  background-color: #fa0e0eef; /* Cambia el color de fondo al pasar el mouse */
}





